body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  padding: 150px 22%;
}

/* ----------------titlepage styling---------------- */
#title .container-fluid {
  text-align: left;
  /* change to center on smaller screen */
  background: rgb(255, 0, 56);
  background: linear-gradient(180deg, rgba(255, 0, 56, 1) 0%, rgba(136, 0, 255, 1) 0%, rgba(0, 146, 255, 1) 66%, rgba(0, 224, 255, 1) 100%);
  color: white;
  padding: 3% 10% 14.6%;
}

/* navigation bar */
#navBar {
  padding-left: 0;
  margin-bottom: 6rem;
  border-bottom-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.brand {
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
}

.nav-item {
  font-size: 20px;
  padding-left: 24px;
}

.guitar-link {
  position: relative;
  right: 8px;
  top: 6px;
  color: rgba(255, 255, 255, .5);
  padding: 8px;
  font-size: 20px;
}

.guitar-link:hover {
  color: rgba(255, 255, 255, .8);
}

/* title */
.titlepage {
  margin-top: 10%;
}

.web-title {
  padding-top: 1%;
  font-family: 'Alfa Slab One', cursive;
  font-size: 7rem;
  /* change to 6rem on smaller screen */
  line-height: 1.1;
  /* change to 1.2 on smaller screen */
}

#title p {
  padding-top: 2%;
  font-size: 2rem;
  font-family: 'Great Vibes', cursive;
}

.title-btn {
  margin: 2% 4% 5% 0;
}

.title-btn-link {
  color: black;
}

.title-btn-link:hover {
  color: black;
}

.video-line {
  text-align: center;
  border-color: black;
  border-width: 2px 0;
  margin: 2% 0;
  width: 100%;
  border-style: solid;
}

/* ----------------intro---------------- */
.quotation {
  margin-bottom: 12%;
}

#intro hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  width: 100%;
  border-color: #00e0ff;
}

.instruments {
  margin-top: 12%;
}

.instrImg {
  width: 50%;
}

.instrName {
  color: black;
  font-weight: 700;
  margin: 6% 0 0;
}

/* --------------- autobiography --------------- */

#autobiography .container-fluid {
  position: relative;
  background-color: #00e0ff;
  padding: 150px 20% 150px;
  color: white;
}

.myLife {
  font-size: 1.5rem;
  text-align: left;
  /* change to centered on smaller screen */
}

.myName {
  font-weight: bold;
}

.autobio {
  margin: 6% 0 0;
}

.picture {
  width: 100%;
}

.triangle1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 5.5rem solid #008eff;
  border-right: 0;
  border-bottom: 5.5rem solid transparent;
  border-top: 0;
}

.triangle2 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-left: 0;
  border-right: 5.5rem solid #008eff;
  border-bottom: 0;
  border-top: 5.5rem solid transparent;
}

.triangle3 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-left: 5.5rem solid #008eff;
  border-right: 0;
  border-bottom: 0;
  border-top: 5.5rem solid transparent;
}

.triangle4 {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 0;
  height: 0;
  border-left: 0;
  border-right: 5.5rem solid #008eff;
  border-bottom: 5.5rem solid transparent;
  border-top: 0;
}

/* ----------Contact----------- */

#contact h1 {
  padding: 0 20% 0;
  font-size: 2.5rem;
}

#contact a {
  font-family: 'Comfortaa', cursive;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

#contact a:hover {
  color: white;
}

.emB {
  margin-top: 5%;
  border-width: 5px;
  border-color: #46b3e6;
  background-color: #00e0ff;
  padding: 2% 4% 2%;
}

.emB:hover {
  border-color: #0779e4;
  background-color: #00e0ff;
}

/* ----------Footer---------- */

#footer .container-fluid {
  background-color: #00c6e2;
  margin: 0;
  padding: 50px 22% 250px;
}

#footer a {
  padding: 0 2% 0;
  opacity: 0.7;
  color: white;
}

#footer a:hover {
  color: white;
  opacity: 1;
}

#footer p {
  margin-top: 3%;
  color: white;
}

/* -----------Smaller Screen------------ */

@media (max-width: 1000px) {
  #title .container-fluid {
    text-align: center;
  }

  .web-title {
    font-size: 6rem;
    line-height: 1.2;
  }

  .myLife {
    text-align: center;
    padding-top: 2%;
  }
}
